<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header"> <%= @author.first_name %> <%= @author.last_name %></div>
  <div class="card-body">
    
    <p class="card-text"> Description:<%= @author.description%></p>
    <p class="card-text"> e-mail:<%= @author.email%></p>
    <p class="card-text"> Age:<%= @author.age%></p>
        <% city = @author.city_id%>
    <p class="card-text"> Ville:<%= City.find(city).name%>  <%= link_to "detail city",city_path(city)%></p>
    <%= link_to "go home" ,controller: "gossips", action:"index"%>
  </div>